@import "themes/themify.scss";
@import "themes/themes.scss";
@import "mixins/responsive-sizes.scss";

.sidebar {
	position: absolute;
	top: 50%;
	right: -10px;
	transform: translate(100%, -50%);
	height: 100%;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	@include phone-only {
		top: auto;
		right: auto;
		bottom: -5px;
		left: 50%;
		transform: translate(-50%, 100%);
		height: auto;
		width: 100%;
	}

	.sidebar-title {
		padding: 10px;
		text-align: center;

		@include themify($themes) {
			background-color: themed("sectionBackgroundColor");
		}
	}

	.sidebar-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		min-height: 0;

		@include phone-only {
			padding: 5px;
		}

		@include themify($themes) {
			background-color: themed("areaBackgroundColor");
		}
	}
}
