<div class="move-history-container" #moveHistoryContainer>
	<div class="move-history">
		<ng-container *ngFor="let move of getFormattedMoves()">
			<div class="move-number">{{move.moveNumber}}</div>
			<div class="move" [class.active]="isMoveActive(move.moveNumber, false)"
				(click)="onMoveClicked(move.moveNumber, false)" #moveElements>{{move.whiteMove}}</div>
			<div class="move" [class.active]="isMoveActive(move.moveNumber, true)"
				(click)="onMoveClicked(move.moveNumber, true)" #moveElements>{{move.blackMove}}</div>
		</ng-container>
	</div>
</div>
<div class="history-controls">
	<button class="button" (click)="stepBack()">
		<!-- Icons from Octicons -->
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
			<path fill-rule="evenodd"
				d="M9.78 12.78a.75.75 0 01-1.06 0L4.47 8.53a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L6.06 8l3.72 3.72a.75.75 0 010 1.06z">
			</path>
		</svg>
	</button>
	<button class="button" (click)="stepForward()">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
			<path fill-rule="evenodd"
				d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z">
			</path>
		</svg>
	</button>
</div>