chess-piece {
	display: block;
	height: 75px;
	width: 75px;
	cursor: pointer;
	background-size: contain;

	&:not(.off-board) {
		position: absolute;
		width: 12.5%;
		height: 12.5%;
	}

	&:not(.dragging).animate {
		transition: transform 0.1s;
	}
}

.pawn {
	&.white {
		background-image: url("/assets/images/pieces/pawn-white.png");
	}

	&.black {
		background-image: url("/assets/images/pieces/pawn-black.png");
	}
}

.king {
	&.white {
		background-image: url("/assets/images/pieces/king-white.png");
	}

	&.black {
		background-image: url("/assets/images/pieces/king-black.png");
	}
}

.queen {
	&.white {
		background-image: url("/assets/images/pieces/queen-white.png");
	}

	&.black {
		background-image: url("/assets/images/pieces/queen-black.png");
	}
}

.rook {
	&.white {
		background-image: url("/assets/images/pieces/rook-white.png");
	}

	&.black {
		background-image: url("/assets/images/pieces/rook-black.png");
	}
}

.bishop {
	&.white {
		background-image: url("/assets/images/pieces/bishop-white.png");
	}

	&.black {
		background-image: url("/assets/images/pieces/bishop-black.png");
	}
}

.knight {
	&.white {
		background-image: url("/assets/images/pieces/knight-white.png");
	}

	&.black {
		background-image: url("/assets/images/pieces/knight-black.png");
	}
}

.dragging {
	z-index: 10;
}
