@import "mixins/responsive-sizes.scss";

chess-board {
	display: block;
	position: relative;
	width: 100%;
	background-color: grey;
	border: 1px solid black;
	margin: auto auto;
}

chess-tile {
	display: block;
	position: absolute;
	width: 12.5%;
	height: 12.5%;
	cursor: pointer;
	background-color: #f0d9b5;

	&.dark {
		background-color: #b58863;
	}

	&.highlighted::after {
		background-color: rgb(105, 158, 62);
		opacity: 0.6;
		content: " ";
		display: block;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
	}
}
