@import "../../../styles/themes/themify.scss";
@import "../../../styles/themes/themes.scss";

.modal-content {
	padding: 30px;

	@include themify($themes) {
		background-color: themed("modalBackgroundColor");
	}
}

.input {
	margin: 10px;
}
