@import 'themes.scss';

// mixin to generate css for different themes
@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

// Utility function to get themed value from map
@function themed($key) {
  @return map-get($theme-map, $key);
}

// Example:
// .button {
//		padding: 10px;
//		@include themify($themes) {
//			background-color: themed('buttonBackgroundColor');
//		}
// }