$accent: #73b428;

$themes: (
	light: (
		pageBackgroundColor: white,
		primaryFontColor: black,
		navbarColor: rgb(216, 216, 216),
		navbarBorders: 1px solid black,
		navbarButtonBackgroundColor: rgb(175, 175, 175),
		navbarButtonHoverColor: rgb(190, 190, 190),
		notificationAreaBackgroundColor: rgb(199, 199, 199),
		notificationBackgroundColor: rgb(216, 216, 216),
		modalBackgroundColor: rgb(255, 255, 255),
		buttonBackgroundColor: rgb(238, 238, 238),
		buttonBorder: 1px solid grey,
		buttonHoverColor: rgb(200, 200, 200),
		buttonSvgFill: black,
		navbarBadgeFontColor: white,
		navbarBadgeBackgroundColor: red,
		sectionBackgroundColor: rgb(204, 204, 204),
		areaBackgroundColor: white,
	),
	dark: (
		pageBackgroundColor: #181a1b,
		primaryFontColor: white,
		navbarColor: #323638,
		navbarBorders: 1px solid white,
		navbarButtonBackgroundColor: #2a2c2e,
		navbarButtonHoverColor: #36393b,
		notificationAreaBackgroundColor: #464c4e,
		notificationBackgroundColor: #323638,
		modalBackgroundColor: rgb(40, 40, 40),
		buttonBackgroundColor: rgb(60, 60, 60),
		buttonBorder: 1px solid rgb(220, 220, 220),
		buttonHoverColor: rgb(100, 100, 100),
		buttonSvgFill: white,
		navbarBadgeFontColor: white,
		navbarBadgeBackgroundColor: red,
		sectionBackgroundColor: #474d4e,
		areaBackgroundColor: #2f3131,
	),
);
