@import "../../../styles/themes/themify.scss";
@import "../../../styles/themes/themes.scss";
@import "../../../styles/mixins/responsive-sizes.scss";

.notifications {
	position: absolute;
	top: 70px;
	right: 50px;
	width: 200px;
	max-height: 80vh;
	overflow-y: auto;

	@include themify($themes) {
		background-color: themed("notificationAreaBackgroundColor");
	}

	@include phone-only {
		right: 20px;
	}
}

.notification {
	border-radius: 5px;
	height: 100px;
	margin: 10px;

	@include themify($themes) {
		background-color: themed("notificationBackgroundColor");
	}

	@include phone-only {
		height: 80px;
	}
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.title {
		font-size: 26px;
	}

	.details {
		font-size: 16px;
		margin: 5px;
	}
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.no-content-text {
	text-align: center;
}
