<div class="navbar">
	<a class="title" routerLink="/">Chess</a>
	<div class="right-contents">
		<ng-container *ngIf="!shouldShowLoggedInButtons()">
			<button routerLink="/create-account" class="sign-up button">Sign up</button>
			<button routerLink="/log-in" class="log-in button">Log in</button>
		</ng-container>
		<ng-container *ngIf="shouldShowLoggedInButtons()">
			<div class="username" [matMenuTriggerFor]="userMenu">{{getUsername()}}</div>
			<mat-menu #userMenu="matMenu">
				<div class="menu-item" mat-menu-item routerLink="settings">Settings</div>
			</mat-menu>
			<app-notifications #notifications (onOpened)="onNotificationsOpened()"></app-notifications>
			<app-challenges #challenges (onOpened)="onChallengesOpened()"></app-challenges>
			<button (click)="logOut()" class="log-out button">Log out</button>
		</ng-container>
	</div>
</div>