@import "../../../styles/themes/themes.scss";
@import "../../../styles/themes/themify.scss";
@import "../../../styles/mixins/responsive-sizes.scss";

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	@include themify($themes) {
		background-color: themed("navbarColor");
	}
}

.title,
button {
	display: inline-block;
}

.title {
	margin: 10px 0 10px 10px;
	padding: 5px 20px;
	text-decoration: none;

	@include themify($themes) {
		border-right: themed("navbarBorders");
		color: themed("primaryFontColor");
	}
}

button {
	padding: 10px 15px;
	margin: 10px;
	border: none;

	@include themify($themes) {
		background-color: themed("navbarButtonBackgroundColor");
		color: themed("primaryFontColor");
		&:hover {
			background-color: themed("navbarButtonHoverColor");
		}
	}

	&:last-child {
		margin-right: 100px;

		@include phone-only {
			margin-right: 20px;
		}
	}
}

.username {
	display: inline-block;
	margin-right: 10px;
}
