<div class="play-page-content">
	<div class="game">
		<app-board *ngIf="boardSettings.game" [settings]="boardSettings"
			(playerMoveEmitter)="onPlayerPieceMoved($event)">
		</app-board>

		<div class="sidebar">
			<div class="sidebar-title">
				<div *ngIf="isWhiteActiveColor() && !isGameOver">White to play</div>
				<div *ngIf="!isWhiteActiveColor() && !isGameOver">Black to play</div>
				<div *ngIf="isGameOver">Game Over</div>
			</div>
			<div class="sidebar-content">
				<app-game-controls [game]="game" [playerColor]="boardSettings.playerColor"></app-game-controls>
			</div>
		</div>
	</div>
</div>

<app-game-over-modal [gameResult]="gameResult" [hidden]="!shouldShowGameOverModal" (onClose)="onCloseGameOverModal()">
</app-game-over-modal>