<div class="play-page-content">
	<div class="game">
		<app-board #board (displayPawnPromotionPanel)="startPromotionPrompt($event)" [disabled]="isBoardDisabled">
		</app-board>

		<div class="sidebar">
			<div class="sidebar-title">
				<div *ngIf="isWhiteActiveColor() && !isGameOver">White to play</div>
				<div *ngIf="!isWhiteActiveColor() && !isGameOver">Black to play</div>
				<div *ngIf="isGameOver">Game Over</div>
			</div>

			<app-move-history (isInPastChanged)="onMoveIntoPast($event)" [moves]="game.moves"></app-move-history>
		</div>

		<app-pawn-promotion (pieceSelected)="onPromotionSelected($event)" [hidden]="!showPromotionPanel">
		</app-pawn-promotion>
	</div>
</div>

<app-game-over-modal [gameResult]="gameResult" [hidden]="!shouldShowGameOverModal" (onClose)="onCloseGameOverModal()">
</app-game-over-modal>